# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - main
    - qa
    - refs/heads/qa
    - refs/heads/main
    - refs/tags/*
    - releases/tags/*
    - azure-pipeline

resources:
- repo: self

# pr:
#  - main
#  - qa

variables:
# Container registry service connection established during pipeline creation
- name: tag
  value: '$(Build.BuildId)'
- name: commitHash
  value: '$(Build.SourceVersion)'
- name: sourceBranch
  value: $[variables['build.sourceBranch']]
- name: isQaRelease
  value: $[or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main'))]
- name: isProductionRelease
  value: $[startsWith(variables['build.sourceBranch'], 'refs/tags/v')]
- name: targetAppName
  ${{ if or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main')) }}:
    value: stagingnicoandra
  ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/v') }}:
    value: nicoandra
- name: cvApplicationUrl
  ${{ if or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main')) }}:
    value: https://stagingnicoandra.z27.web.core.windows.net/
  ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/v') }}:
    value: https://nicoandra.z27.web.core.windows.net/
- name: azureSubscription
  value: 'Deployment'

pool:
  vmImage: ubuntu-24.04

stages:
- stage: Debug
  displayName: Debug Values
  jobs:
  - job: ShowVariables
    steps:
    - bash: |
        echo "sourceBranch: $(sourceBranch)"
        echo "isMainBranch: $(isMainBranch)"
        echo "isQaBranch: $(isQaBranch)"
        echo "commitHash: $(commitHash)"
        echo "targetAppName: $(targetAppName)"

- stage: uiCV
  condition: or(eq(variables.isQaRelease, true), eq(variables.isProductionRelease, true))
  jobs:
  - template: '.pipeline/job_check_changes.yml'
    parameters:
      path: "ui-cv/"
      appName: "uiCV" 
   
  - job: DeployBlobContainer
    displayName: Deploy as Storage Blob to container=$web
    dependsOn: CheckChanges
    condition: or(eq(variables.isProductionRelease, true), and(eq(dependencies.CheckChanges.outputs['check_changes.uiCV'], 'true'), eq(variables.isQaRelease, true)))
    steps:
    - bash: |
        npm install
        resumed render --theme jsonresume-theme-elegant
        mkdir build
        cp resume.html build/index.html
    - task: AzureCLI@2
      displayName: Copy to Blob Container
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: $(Build.SourcesDirectory)/ui-cv
        inlineScript: |
          set -e
          echo "With targetAppName=$(targetAppName)"
          az storage blob upload-batch --account-name $(targetAppName) -s ./build -d \$web --overwrite true