# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - main
    - qa
    - refs/heads/qa
    - refs/heads/main
    - refs/tags/*
    - releases/tags/*
    - azure-pipeline

resources:
- repo: self

# pr:
#  - main
#  - qa

variables:
# Container registry service connection established during pipeline creation
- name: tag
  value: '$(Build.BuildId)'
- name: commitHash
  value: '$(Build.SourceVersion)'
- name: sourceBranch
  value: $[variables['build.sourceBranch']]
- name: isQaRelease
  value: $[or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main'))]
- name: isProductionRelease
  value: $[startsWith(variables['build.sourceBranch'], 'refs/tags/v')]
- name: targetAppName
  ${{ if or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main')) }}:
    value: stagingnicoandra
  ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/v') }}:
    value: nicoandra
- name: cvApplicationUrl
  ${{ if or(startsWith(variables['build.sourceBranch'], 'refs/heads/qa'), startsWith(variables['build.sourceBranch'], 'refs/heads/main')) }}:
    value: https://stagingnicoandra.z27.web.core.windows.net/
  ${{ if startsWith(variables['build.sourceBranch'], 'refs/tags/v') }}:
    value: https://nicoandra.z27.web.core.windows.net/
- name: azureSubscription
  value: 'Deployment'

pool:
  vmImage: ubuntu-24.04

stages:
- stage: Debug
  displayName: Debug Values
  jobs:
  - job: ShowVariables
    steps:
    - bash: |
        echo "sourceBranch: $(sourceBranch)"
        echo "isMainBranch: $(isMainBranch)"
        echo "isQaBranch: $(isQaBranch)"
        echo "commitHash: $(commitHash)"
        echo "targetAppName: $(targetAppName)"

- stage: NestApp
  jobs:
  - template: '.pipeline/job_check_changes.yml'
    parameters:
      path: "nest-app/"
      appName: "nestApp"
  - job: DeployFunctionApp
    displayName: Deploy Function App
    dependsOn: CheckChanges
    condition: and(eq(dependencies.CheckChanges.outputs['check_changes.nestApp'], 'true'), or(eq(variables.isQaRelease, true), eq(variables.isProductionRelease, true)))
    steps:
    - bash: |
        npm install
        npm run build
      workingDirectory: $(Build.SourcesDirectory)/nest-app
      displayName: Compile
    - bash: |
        mkdir toZip
        rm node_modules -r
        npm install --only=production
        mv dist toZip
        mv node_modules toZip
        mv main toZip
      workingDirectory: $(Build.SourcesDirectory)/nest-app
      displayName: Make lean
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: $(Build.SourcesDirectory)/nest-app/toZip
        includeRootFolder: false
        archiveType: zip
        archiveFile: '$(System.ArtifactsDirectory)/app.zip' 
        replaceExistingArchive: true 
    - task: AzureFunctionApp@1
      displayName: Deploy FunctionApp
      inputs:
        azureSubscription: $(azureSubscription)
        appType: functionAppLinux
        appName: $(targetAppName)
        package: $(System.ArtifactsDirectory)/app.zip      

- stage: uiCV
  jobs:
  - template: '.pipeline/job_check_changes.yml'
    parameters:
      path: "ui-cv/"
      appName: "uiCV"    
  - job: DeployBlobContainer
    displayName: Deploy as Storage Blob to container=$web
    dependsOn: CheckChanges
    condition: or(eq(variables.isProductionRelease, true), and(eq(dependencies.CheckChanges.outputs['check_changes.uiCV'], 'true'), eq(variables.isQaRelease, true)))
    steps:
    - bash: |
        npm install
        npm run build
      displayName: Compile App to ./build
      workingDirectory: $(Build.SourcesDirectory)/ui-cv
      env:
        REACT_APP_CONTACT_FORM_POSTBACK_URL: https://nicoandra.azurewebsites.net/api/contactform-onsubmit
        REACT_APP_RECAPTCHA_SITE_KEY: 6LdvDi4aAAAAAO0wUdv-n40lIutg4slj9SQa7iqk
        REACT_APP_VERSION: $(Build.SourceBranchName)
    - task: AzureCLI@2
      displayName: Copy to Blob Container
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: $(Build.SourcesDirectory)/ui-cv
        inlineScript: |
          set -e
          echo "With targetAppName=$(targetAppName)"
          az storage blob upload-batch --account-name $(targetAppName) -s ./build -d \$web --overwrite true
  - job: BuildPdf
    displayName: Installs Chromium and builds the printable version of the CV
    dependsOn: DeployBlobContainer
    steps:
    - bash: |
        chromium --headless --disable-gpu --no-pdf-header-footer --no-margins --no-sandbox --print-to-pdf=output.pdf $(cvApplicationUrl)
      displayName: Build PDF
      workingDirectory: $(Build.SourcesDirectory)/ui-cv
    - task: AzureCLI@2
      displayName: Copy PDF to Blob Container
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: $(Build.SourcesDirectory)/ui-cv
        inlineScript: |
          set -e
          echo "With targetAppName=$(targetAppName)"
          mv output.pdf NicolasAndrade-SeniorDeveloper.pdf
          az storage blob upload --account-name $(targetAppName) -f NicolasAndrade-SeniorDeveloper.pdf -c \$web --overwrite true
- stage: uiRepairShop
  jobs:
  - template: '.pipeline/job_check_changes.yml'
    parameters:
      path: "ui-repair-shop/"
      appName: "uiRepairShop"
