<h1>Contact Form has been Filled</h1>

<ul>
    <% Object.keys(locals).forEach(function(fieldName) {
        %>
        <li><b><%= fieldName %></b>: <%= locals[fieldName] %></li>
        <%
    }) 
    %>
</ul>