<h1>Contact Form has been Filled</h1>

<ul>
    <% ["Name", "Email", "Message", "Subject", "referrer"].forEach(function(fieldName) {
        %>
        <li><b><%= fieldName %></b>: <%= locals[fieldName] %></li>
        <%
    }) 
    %>
</ul>